html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.08em;
    padding: 0;
    margin-left: 110px;
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dl {
    font-size: 0.9em;
    margin-top: 22px;
    margin-bottom: 22px;
}

dt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

dd {
    margin: 0 0 0.563em 0;
}

@media (min-width: 768px) {

    .dl-horizontal dt {
        float: left;
        width: 100px;
        overflow: hidden;
        clear: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 112px;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.avatar {
    border-radius: 50%;
}

.text-primary,
.icon-list .ace-icon,
.post-title a:hover,
mark,
.bg-primary,
.btn-primary,
.bg-primary.text-dropcup-sq,
.raiting-circle .fill {
    background-color: #c0e3e7;
}

::-moz-selection {
    background-color: #c0e3e7;
}

::selection {
    background-color: #c0e3e7;
}

hr,
blockquote,
.brd-btm,
.post-tags a,
.reference-box,
.ace-head-inner,
#ace-nav-wrap,
#comments .comment-list,
#comments .comment-body,
.ace-paper,
.ace-paper-stock:before,
.ace-paper-stock:after {
    border-color: #e6e6e6;
}

/* Color Lighter: $color-lighter */
body,
.form-item {
    background-color: #f3f3f3;
}

/* Color Lightest: $color-lightest */

#ace-content,
.ace-paper,
.ace-head-inner,
.ace-card-footer,
blockquote.quote-top:before,
blockquote.quote-side:before,
.ace-paper-stock:before,
.ace-paper-stock:after {
    background-color: #fff;
}

/**
 * Theme Font Families
 */
body {
    font-family: "Quicksand", sans-serif;
}

h1, h2 {
    font-family: "Quicksand", sans-serif;
}

/**
 * Containers
 */
.ace-wrapper {
    overflow: hidden;
    position: relative;
}

.ace-container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.ace-paper {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

@media (min-width: 993px) {
    .ace-container-shift {
        padding-left: 20px;
        padding-right: 20px;
    }

    #ace-content {
        background: none;
    }

    .ace-paper {
        z-index: 3;
        padding-left: 35px;
        padding-right: 35px;
    }

    .ace-card-on .ace-container-shift {
        margin-left: 240px;
    }

    .ace-card-on .ace-paper-cont {
        float: left;
        width: 100%;
    }

    .ace-tab-nav-on .ace-paper-stock {
        margin-right: 56px;
    }

    .ace-paper-stock {
        z-index: 0;
        position: relative;
        margin-bottom: 6px;
    }

    .ace-paper-stock:before, .ace-paper-stock:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .ace-paper-stock:before {
        top: 3px;
        left: 3px;
        z-index: 1;
    }

    .ace-paper-stock:after {
        top: 6px;
        left: 6px;
        z-index: 0;
    }

    #ace-card {
        float: left;
        width: 288px;
    }
}

.section.brd-btm {
    padding-bottom: 1.375em;
}

@media (min-width: 1200px) {
    .padd-box {
        margin-left: 3.4%;
        margin-right: 3.4%;
    }

    .padd-box .padd-box-sm {
        margin-left: 8.6%;
        margin-right: 8.6%;
    }
}

/**
 * Header
 */
#ace-header {
    position: relative;
}

.ace-head-inner {
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

@media (min-width: 992px) {
    .ace-head-inner {
        border: none;
        background: transparent;
        padding-bottom: 10px;
    }
}

/* Shapes */
#ace-bg-shape-1,
#ace-bg-shape-2 {
    top: 0;
    position: fixed;
    z-index: -1;
}

#ace-bg-shape-1 {
    left: 0;
}

#ace-bg-shape-2 {
    right: 0;
}